:root {
  --primary: #349940;
  --primary-dark: #0f5e04;
  --secondary: #F4B400;
  --accent: #349940;
  --light: #f6fcf5;
  --dark: #1d3244;
  --gray: #758796;
  --success: #27ae60;
  --warning: #f39c12;
  --danger: #ee7669;
  --maitprimary: #1a5276;
  --maitsecondary: #2e86c1;
  --dashprimary-color: #0d6efd;
  --dashsecondary-color: #1e88e5;
   --sidebar-width: 280px;
}

/**
Swal section
**/
/* SweetAlert custom styling */
.custom-swal-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-swal-popup {
  padding: 2rem;
  border-radius: 15px;
}

.custom-swal-title {
  color: #349940;
  font-weight: 600;
  margin-bottom: 1rem;
}

.custom-swal-content {
  margin-top: 1.5rem;
}

.custom-input-label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
  color: #1d3244;
  font-weight: 500;
  font-size: 0.9rem;
}

.custom-input {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 1px solid #d1d9e6;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.custom-input:focus {
  border-color: #349940;
  outline: none;
  box-shadow: 0 0 0 3px rgba(98, 181, 229, 0.2);
}

.custom-textarea {
  min-height: 120px;
  resize: vertical;
}

.swal2-confirm {
  background-color: #0f5e04 !important;
  border-radius: 8px !important;
  padding: 12px 30px !important;
  font-weight: 600 !important;
  transition: background-color 0.3s !important;
}

.swal2-confirm:hover {
  background-color: #062e01 !important;
}

.swal2-cancel {
  background-color: #f5f5f5 !important;
  color: #333 !important;
  border-radius: 8px !important;
  padding: 12px 30px !important;
  font-weight: 600 !important;
  transition: background-color 0.3s !important;
}

.swal2-cancel:hover {
  background-color: #e5e5e5 !important;
}

.error-message {
  color: #e74c3c;
  font-size: 0.8rem;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
  display: none;
}

/**************************/
/**********SWAL CERTIFICATION***************/

.certificate-header {
  background: linear-gradient(135deg, #4361ee, #3a0ca3);
  padding: 30px 20px;
  text-align: center;
}

.certificate-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.certificate-body {
  padding: 30px;
  text-align: center;
}

.certificate-title {
  color: white;
  font-size: 24px;
  margin: 0;
  font-weight: 600;
}

.certificate-name {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.certificate-date {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}