:root {
  --primary: #349940;
  --primary-dark: #0f5e04;
  --secondary: #F4B400;
  --accent: #349940;
  --light: #f6fcf5;
  --dark: #1d3244;
  --gray: #758796;
  --success: #27ae60;
  --warning: #f39c12;
  --danger: #c0392b;
  --maitprimary: #1a5276;
  --maitsecondary: #2e86c1;
}




/**
Maintenance Form section
**/